#ednavbar {
  position: fixed !important;
  z-index:100000000;
}
@media(min-width:40.1em){ /* Larger than mobile devices */
  #ednavbar{
   bottom: 100px;
    width: 100%;

  }
}

@media(max-width:40em){ /* Breakpoint only for mobile */
  #ednavbar{
   bottom: 50px;
    width: 100%;
	overflow-y: auto; 
  }
}




mark2 {
  background-color: yellow;
  color: black;
}
markfr {
   color:yellow;
   background-color:yellow;
}

markfr:active {
   color:black;
   background-color:yellow;
  
}
markfr:hover {
   color:black;
   background-color:yellow;
  
}  

#ednavbar.dark-mode {
  background-color: black;
  color: white;
}

.mark2{
  background-color: yellow;
  color: black;
}

.unibutton{
  border: none;
  padding: 5px 5px;
  text-align: center ;
  text-decoration: none ;
  display: inline-block ;
  font-size: 16px ;
  margin: 4px 2px ;
  cursor: pointer ;
  -webkit-transition-duration: 0.4s ; /* Safari */
  transition-duration: 0.4s ;
    
} 

.uninmenu{

	font-size: 17px ;
	border-radius: 20px ;
	padding: 5px 5px ;
	cursor: pointer ;
		}
.uninmenu:hover {
    color: #000000 ;
	background-color: #ffffff ;
		}


.unienter{
  border: none ;
  color: #4CAF50 ;
  padding: 5 5px ;
  text-align: center ;
  text-decoration: none ;
  display: inline-block ;
  font-size: 16px ;
  margin: 4px 2px ;
  cursor: pointer ;
  -webkit-transition-duration: 0.4s ; /* Safari */
  transition-duration: 0.4s ;
    
} 

.unibutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
  ;  
    color: #000000 ;
	background-color: #ffffff ;
}
.highlightmenu {
	display: none ;
	position: absolute ;
	border-radius: 6px ;
	
}
.hightlightmenu i {
	cursor: pointer ;
	margin: 8px ;
}

#wanttext {
/* css adapted from https://github.com/lucagez/medium.css/blob/master/medium.css */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display:700i,900');
user-select: text;
-webkit-user-select: text;

h1, h2, p, i, a { text-rendering:optimizeLegibility; }

li {
    display: inline;
}
h1 {
  font-size: 48px;
  text-align: left;
  margin-bottom: 8px;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  padding: 0;
  margin: 56px 0 -13px -1.883px;
  text-align: left;
  line-height: 34.5px;
  letter-spacing: -0.45px;
}

p, i, li {
  margin-top: 21px;
  font-family: "Lora";
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
}

a {
  text-decoration: underline;
}

blockquote {
  font-size: 30px;
  font-style: italic;
  letter-spacing: -0.36px;
  line-height: 44.4px;
  overflow-wrap: break-word;
  margin: 55px 0 33px 0;
  /* text-align: center; */
  padding: 0 0 0 50px;
}

code {
  font-size: 18px;
  border-radius: 2px;
  padding: 3px 5px;
}

mark, .highlighted {
  background: #7DFFB3;
}

.first-letter {
  overflow-wrap: break-word;
  font-size: 60px;
  line-height: 60px;
  display: block;
  position: relative;
  float: left;
  margin: 0px 7px 0 -5px;
}

.subtitle {
  margin: 0 0 24px 0;
}


img
{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}
  
}
 
